html, body {
  height: 100%; }

body {
  background: white;
  min-height: 100%;
  overflow: hidden; }

@keyframes move {
  100% {
    transform: translate3d(0, 0, -1000px); } }

.bubble-wrap {
  transform-style: preserve-3d;
  transform-origin: center center;
  perspective: 2000px; 
}

.bubble {
  position: absolute;
  background: white;
  opacity: 1;
  border-radius: 50%;
  animation: move 10s infinite; }

.bubble:nth-child(1) {
  height: 28px;
  width: 28px;
  animation-delay: -0.2s;
  transform: translate3d(835px, 268px, 921px);
  background: #d96526; }

.bubble:nth-child(2) {
  height: 24px;
  width: 24px;
  animation-delay: -0.4s;
  transform: translate3d(726px, 520px, 1467px);
  background: #d99d26; }

.bubble:nth-child(3) {
  height: 1px;
  width: 1px;
  animation-delay: -0.6s;
  transform: translate3d(266px, 588px, 1396px);
  background: #a926d9; }

.bubble:nth-child(4) {
  height: 29px;
  width: 29px;
  animation-delay: -0.8s;
  transform: translate3d(154px, 879px, 1680px);
  background: #d92677; }

.bubble:nth-child(5) {
  height: 20px;
  width: 20px;
  animation-delay: -1s;
  transform: translate3d(352px, 868px, 294px);
  background: #2635d9; }

.bubble:nth-child(6) {
  height: 5px;
  width: 5px;
  animation-delay: -1.2s;
  transform: translate3d(548px, 82px, 1262px);
  background: #26d938; }

.bubble:nth-child(7) {
  height: 7px;
  width: 7px;
  animation-delay: -1.4s;
  transform: translate3d(66px, 77px, 1432px);
  background: #d9c426; }

.bubble:nth-child(8) {
  height: 20px;
  width: 20px;
  animation-delay: -1.6s;
  transform: translate3d(551px, 980px, 83px);
  background: #9d26d9; }

.bubble:nth-child(9) {
  height: 26px;
  width: 26px;
  animation-delay: -1.8s;
  transform: translate3d(353px, 287px, 940px);
  background: #26d97a; }

.bubble:nth-child(10) {
  height: 25px;
  width: 25px;
  animation-delay: -2s;
  transform: translate3d(254px, 783px, 1893px);
  background: #26d92c; }











